# quantitative trading strategy
- momentum: is calculated by multiplying the annualized exponential regression slope of the past 90 days by the R^2
  coefficient of the regression calculation.

# useful link:
- IEX Cloud Official Website: https://iexcloud.io
- AIP usage: https://intercom.help/iexcloud/en/articles/2851957-how-to-use-the-iex-cloud-api

In [32]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np

from datetime import datetime 
from concurrent import futures 

import os

In [52]:
os.environ["IEX_API_KEY"] = "pk_bb0c951325644c85933eac23922759c1"
data_path = '../data/spy'

In [43]:
def download(ticker):
    df = web.DataReader(ticker,'iex', start, end)
    df.to_csv(f"../data/spy/{ticker}.csv")

In [35]:
# get the list of tickers from wiki
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
table = data[0]
tickers = table.loc[:, 'Symbol'].tolist()
pd.Series(tickers).to_csv("../data/spy/tickers.csv")

In [45]:
# get ticker data from the past 5 yrs; up to 15 years

end = datetime.now() 
start = datetime(end.year - 5, end.month , end.day)

with futures.ThreadPoolExecutor(50) as executor: 
    res = executor.map(download, tickers)

In [59]:
df = pd.read_csv('../data/spy/AAL.csv')
df.head()

         date   open    high    low  close    volume
0  2016-01-19  39.59  39.780  38.21  38.86  10505908
1  2016-01-20  38.53  39.845  36.20  39.06  16089109
2  2016-01-21  38.93  40.000  38.02  39.79   9781683
3  2016-01-22  40.00  40.720  39.57  40.16   7247031
4  2016-01-25  40.02  40.160  38.82  38.88  10113170

In [53]:
os.listdir(data_path)

['ALLE.csv',
 'VNT.csv',
 'AON.csv',
 'AMCR.csv',
 'VTRS.csv',
 'AAL.csv',
 'CARR.csv',
 'tickers.csv']

In [56]:
# tickers = pd.read_csv('survivorship-free/tickers.csv', header=None)[1].tolist()
# stocks = (
#     (pd.concat(
#         [pd.read_csv(f"survivorship-free/{ticker}.csv", index_col='date', parse_dates=True)[
#             'close'
#         ].rename(ticker)
#         for ticker in tickers],
#         axis=1,
#         sort=True)
#     )
# )
# stocks = stocks.loc[:,~stocks.columns.duplicated()]